* {
	box-sizing: border-box;
}

body {
	margin: 0;
  width: 100%;
  padding: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}

.wrapper {
	display: grid;
	gap: 20px;
	grid-template-areas:
		'header'
		'content'
		'sidebar';
  max-width: 1024px;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "sidebar content";
  }
}

.wrapper > * {
  border: 2px solid #f08c00;
  background-color: #ffec99;
  border-radius: 5px;
  padding: 10px;
}

header {
	grid-area: header;
}

aside {
	grid-area: sidebar;
}

article {
	grid-area: content;
}
